{%- extends "layout.html" %}
{%- block meta_title %}{{ section.title }}{% endblock meta_title %}
{%- block multilang %}{{ nav_macro::lang_picker(transarr=section.translations) }}{% endblock multilang %}

{%- block header %}
  <nav>
    <ul class="logonav">
      <li class="logo landing"><img src="/assets/nakamochi-bogen.svg" alt="nakamochi logo"></li>
    </ul>
    {{- nav_macro::main_nav() }}
  </nav>
  <hgroup>
    <h1>{{ section.title }}</h1>
    <h2>{{ section.extra.tagline }}</h2>
  </hgroup>
{%- endblock header %}

{%- block main %}
  {{ section.content | safe }}
{%- endblock main %}
