{%- extends "layout.html" %}
{%- block meta_title %}{{ page.title ~ " | " ~ config.title }}{% endblock meta_title %}
{%- block multilang %}{{ nav_macro::lang_picker(transarr=page.translations) }}{% endblock multilang %}

{%- block header %}
  <nav>
    <ul class="logonav">
      <li class="logo">
        <a href="{{get_url(path='/', lang=lang)}}"><img src="/assets/nakamochi-bogen.svg" alt="nakamochi logo"></a>
      </li>
      <li class="logo-name">nakamochi</li>
    </ul>
    {{- nav_macro::main_nav() }}
  </nav>
  <h1>{{ page.title }}</h1>
{%- endblock header %}

{%- block main %}
  {{ page.content | safe }}
{%- endblock main %}
